<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/style.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>



    <title>blog</title>
</head>
<body bgcolor="#c0c0c0" bgproperties="fixed">

    <div>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand" href="{{ url('index') }}">Blog</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">

                {% if current_user %}

                  <li class="nav-item active">
                    <a class="nav-link" href="{{ url('user') }}">Profile {{current_user.first_name}}<span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item active">
                    <a class="nav-link" href="{{ url('posts') }}">Posts <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{{ url('add_post') }}">Create Posts</a>
                  </li>
                {% endif %}
            </ul>
            <form class="form-inline my-2 my-lg-0">
                 {% if current_user %}
                    <a class="btn btn-outline-danger my-2 my-sm-0" type="submit" href="{{ url('logout') }}">Logout</a>
                 {% endif %}

                {% if is_anonymous %}
                    <a class="btn btn-outline-success my-2 my-sm-0" href="{{ url('login') }}">Login</a>

                    <a class="btn btn-outline-primary my-2 my-sm-0" href="{{ url('signup') }}">Signup</a>
                {% endif %}
            </form>
          </div>
        </nav>
    </div>


    <div class="container">

        <div class="row">
            <div class="col" style="">
                {% block content %}
                    {% if current_user.privilege == 'admin' %}

                        <div class="container" style="position: relative; width: 800px; top: 25px">

                            <div class='card' style="text-align: center; border-radius: 15px">
                                <div class="card-header">
                                    <h3>All Users</h3>
                                </div>
                                <div class="card-body">
                                    {% for user in all_users %}
                                        <div style="position: relative;">
                                            <div id="admin">
                                                {% if user.privilege == 'admin' %}
                                                    <h5 style="color: red">{{ user.first_name }}</h5>
                                                {% else %}
                                                    {{ user.first_name }} {{user.last_name}} <br> {{user.email}}
                                                {% endif %}
                                            </div>

                                            <div id="admin">
                                                <form action="{{ url('banned') }}" method="post" accept-charset="utf-8" enctype="application/x-www-form-urlencoded">
                                                    <input type="hidden" id="banned" name="banned" value="{{ user.banned }}">
                                                    <input type="hidden" id="user_id" name="user_id" value="{{ user._id }}">
                                                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">{% if user.banned == 'False' %}Ban{% else %}unban{% endif %}</button>
                                                </form>
                                            </div>

                                            <div id="admin">
                                                <form action="{{ url('delete_user') }}" method="post" accept-charset="utf-8" enctype="application/x-www-form-urlencoded">
                                                    <input type="hidden" id="user_id" name="user_id" value="{{ user._id }}">
                                                    <button style="position: relative;"  type="submit" class="btn btn-outline-danger my-2 my-sm-0" data-dismiss="modal" aria-label="Close">
                                                        Delete
                                                    </button>
                                                </form>
                                            </div>
                                        </div>
                                        <br>
                                        <br>
                                        <br>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endblock %}
            </div>
        </div>


    </div>


</body>
</html>