{% extends "base.html" %}

    {% block content %}
        {% if is_anonymous %}
            <div class="card container" style="position: relative; height: 480px; width: 800px; top: 25px; border-radius: 25px ">
              <form action="{{ url('login') }}" method="post"  accept-charset="utf-8" enctype="application/x-www-form-urlencoded" style="position: relative; top: 30px">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input id="email" name="email" type="text" value="" required  class="form-control" placeholder="Enter email" autofocus/>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input id="password" name="password" type="password" required class="form-control" placeholder="Password" value=""/>
                </div>
                <button type="submit" class="btn btn-primary" value="login">Sign in</button>
              </form>
                <form action="{{ url('login') }}" method="post"  accept-charset="utf-8" enctype="application/x-www-form-urlencoded" style="position: relative; top: 30px">
                    <input id="email" name="email" type="hidden" class="form-control" autofocus value="{{user.email}}"/>
                    <input id="password" name="password" type="hidden" class="form-control" value="{{user.password}}"/>
<!--                    {% if user %}-->
<!--                        <button type="submit" class="btn btn-success">FaceID</button>-->
<!--                    {% endif %}-->
                </form>

              <div style="position: relative; top: 30px" class="dropdown-divider"></div>
              <a style="position: relative; top: 30px" class="dropdown-item" href="{{ url('signup') }}">New around here? Sign up</a>

<!--              <div style="position: relative; top: 40px">-->
<!--                  <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-xl">-->
<!--                    Launch Camera-->
<!--                  </button>-->
<!--              </div>-->
<!--                <form style="position: relative; top: 40px">-->
<!--                    <button><input type="file" accept="image/*" capture="camera"></button>-->
<!--                </form>-->
<!--                <div class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" style="padding-right: 17px;" aria-modal="true">-->
<!--                  <div class="modal-dialog modal-xl">-->
<!--                    <div style="position: relative; width: 270%; right: 90%" class="modal-content ">-->
<!--                      <div class="modal-header">-->
<!--                        <h5 class="modal-title h4" id="myExtraLargeModalLabel">Face Identificator</h5>-->
<!--                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
<!--                          <span aria-hidden="true">×</span>-->
<!--                        </button>-->
<!--                      </div>-->
<!--                      <div class="modal-body ">-->

<!--                        <div id="screen" class="item">-->
<!--                          <video id="video" width="640" height="360" autoplay="autoplay" ></video>-->
<!--                        </div>-->

<!--                        <div id="screen" class="item">-->
<!--                            <canvas class="src" width="640" height="360" id="canvas" ></canvas>-->
<!--                        </div>-->

<!--                            <script src="static/js/main.js"></script>-->
<!--                      </div>-->

<!--                        <div class="modal-footer">-->
<!--                            <div id="response"></div>-->
<!--                            <form action="{{ url('screen') }}" method="post" name="ourForm" enctype="multipart/form-data">-->
<!--                                <button class="btn btn-outline-success my-2 my-sm-0" id="button" type="submit" name="log_photo" value="login">Screen</button>-->
<!--                            </form>-->
<!--                            <form action="{{ url('login') }}" method="post"  accept-charset="utf-8" enctype="application/x-www-form-urlencoded">-->
<!--                                <input id="email" name="email" type="hidden" class="form-control" autofocus value="{{user.email}}"/>-->
<!--                                <input id="password" name="password" type="hidden" class="form-control" value="{{user.password}}"/>-->
<!--                                <button type="submit" class="btn btn-primary">Sing in</button>-->
<!--                            </form>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->

            </div>
        {% endif %}
    {% endblock %}


