{% extends "base.html" %}

    {% block content %}
        {% if current_user %}
            {% for post in posts %}

                <div class="card" id="post">
                  <div class="card-header">
                    <h2>
                        {% if current_user.privilege == 'admin' %}
                            <form style="position: relative; top: 28px; left: 8px" action="{{ url('delete_post') }}" method="post" accept-charset="utf-8" enctype="application/x-www-form-urlencoded">
                                <input type="hidden" id="post_id" name="post_id" value="{{ post._id }}">
                                <button style="position: relative; top: -30px"  type="submit" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">×</span>
                                </button>
                            </form>
                        {% endif %}
                        {{post.title}}
                    </h2>

                  </div>
                  <div class="card-body">
                    {% if post.photo %}
                        <img class="card-img-top" src="{{ url('static', filename=post.photo) }}" alt="Card image cap">
                        <hr>
                    {% endif %}
                    <h5 class="card-title">{{ post.message }}</h5>
                    <br>
                    <br>

                    <p class="card-text">{{ post.date_created.strftime('%Y-%m-%d %H:%M') }} | author: {{ post.author }}</p>

                    <hr>

                      <div class="row">
                          <div class="col">
                              <div class="collapse multi-collapse" id="{{ post._id }}">
                                  <div class="card card-body">
                                      {% for comm in all_comment %}
                                          {% if post._id == comm.to_post %}
                                              <div class="d-flex w-100 justify-content-between">
                                                  <h6 class="mb-1">{{comm.author}}</h6>
                                                  <small>
                                                      {{comm.data_created}}
                                                      {% if current_user.privilege == 'admin' %}
                                                        <form style="position: relative;" action="{{ url('delete_comment') }}" method="post" accept-charset="utf-8" enctype="application/x-www-form-urlencoded">
                                                            <input type="hidden" id="comment_id" name="comment_id" value="{{ comm._id }}">
                                                            <button style="position: relative;"  type="submit" class="close" data-dismiss="modal" aria-label="Close">
                                                                    <span aria-hidden="true">×</span>
                                                            </button>
                                                        </form>
                                                      {% endif %}
                                                  </small>

                                              </div>
                                              <p class="mb-1"><small>{{comm.message}}</small></p>
                                              <hr style="height: 0.01%">
                                          {% endif %}
                                      {% endfor %}
                                  </div>
                              </div>
                          </div>
                      </div>
                     <p>
                      <a class="btn btn-primary" data-toggle="collapse" href="#{{ post._id }}" role="button" aria-expanded="false" aria-controls="">More comments</a>
                    </p>

                    {% if current_user.banned == 'False' %}
                        <form action="{{ url('send_comment') }}" method="post" accept-charset="utf-8">
                            <label for="comment_text"><small>Send text</small></label>

                            <div class="form-group">
                                <textarea class="form-control" id="comment_text" name="comment_text" maxlength="280" required value="" rows="1"></textarea>
                            </div>

                            <input type="hidden" id="author" name="author" value="{{ current_user.first_name }}">
                            <input type="hidden" id="to_post" name="to_post" value="{{ post._id }}">
                            <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Send...</button>
                        </form>
                    {% endif %}

                  </div>
                </div>

            {% endfor %}
        {% endif %}

        {% if is_anonymous %}
            <div id="post" class="card" style="text-align: center; height: 100%">
                <div class="card-header">
                    <h1>Авторизуйтесь</h1>
                </div>
                <div class="card-body" style="position: relative; top: 10%">
                    <a class="btn btn-outline-primary my-2 my-sm-0" href="{{ url('login') }}">Login</a>
                </div>
            </div>
        {% endif %}
    {% endblock %}
